<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Select Image</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>

<h2>Select an Animal:</h2>
<select id="imageSelection">
    <option value="">Select...</option>
    <option value="cat">Cat</option>
    <option value="dog">Dog</option>
    <option value="bear">Bear</option>
</select>

<img id="selectedImage" src="" alt="Selected Image" style="display:none;">

<script>
$(document).ready(function(){
    $('#imageSelection').change(function(){
        var selectedOption = $(this).val();
        $.getJSON("/get_image_url", {selection: selectedOption}, function(data){
            // Assuming data.imageData is the Base64 encoded image data
            // and data.imageFormat is the format of the image (e.g., 'png', 'jpeg')
            var imageDataURI = 'data:image/' + data.imageFormat + ';base64,' + data.imageData;
            $('#selectedImage').attr('src', imageDataURI);
            $('#selectedImage').show();
        });
    });
});
</script>

</body>
</html>